extends layout
block content
  if message.length > 0
    .row
      .col-md-12.text-center
        .alert.alert-warning.alert-dismissible.fade.in(role="alert")
          button(type="button" class="close" data-dismiss="alert")
            span &times;
          strong #{message}

  .row.m-y
    .col-md-12
      h2.text-center Editar la información de perfil
  .row
    .col-md-8.col-md-offset-2
      form(action="/profile" method="POST" enctype="multipart/form-data")
        fieldset.form-group
          label(for="name") Nombre de usuario:
          input.form-control(type="text" placeholder="Jugador" name="name" value="#{user.name}" id="name")
        .btn-group(data-toggle="buttons")
          label.btn.btn-primary(for="Portero")
            input#Portero(type="radio" name="position" value="Portero" autocomplete="off")
            |Portero
          label.btn.btn-primary(for="Defensa")
            input#Defensa(type="radio" name="position" value="Defensa" autocomplete="off")
            |Defensa
          label.btn.btn-primary(for="Medio")
            input#Medio(type="radio" name="position" value="Medio" autocomplete="off")
            |Medio
          label.btn.btn-primary(for="Killer")
            input#Killer(type="radio" name="position" value="Killer" autocomplete="off")
            |Killer
          p.small Posición actual: #{user.position}
        fieldset.form-group
          label(for="avatar") Foto de perfil:
          input.form-control-file(id="avatar" type="file" placeholder="Foto de perfil" name="avatar" accept=".png,.jpg,.jpeg")
          small.text-muted La foto de perfil es necesaria para reconocer a los futbolers desde su primer juego.
        button.btn.btn-success Actualizar perfil
