extends layout
block content
  if message.length > 0
    .row
      .col-md-12.text-center
        .alert.alert-warning.alert-dismissible.fade.in(role="alert")
          button(type="button" class="close" data-dismiss="alert")
            span &times;
          strong #{message}
  .row.m-y
    .col-md-4
      h3 Reta #{game.place.type}
      -
        if(joined){
          var href = '/game/unjoin/' + game._id;
          var classes = 'btn-warning-outline';
          var btnTxt = 'No voy a asisitir';
        } else {
          var href = '/game/join/' + game._id;
          var classes = 'btn-success';
          var btnTxt = 'Apuntarse a la reta';
        }
    .col-md-8
      a.btn.pull-right(href="#{href}" class=classes) #{btnTxt}
  hr
  .row.m-t-md
    .col-md-4
      .card(style="line-height:1")
        .card-block
          p.card-text <i class="fa fa-lg fa-fw fa-columns"></i> #{game.place.name}
          p.card-text <i class="fa fa-lg fa-fw fa-map-marker"></i> #{game.place.address} -
            a(href="#{game.place.link}" target="_blank") ¿Cómo llegar?
          p.card-text <i class="fa fa-lg fa-fw fa-calendar-check-o"></i> #{game.date}
          p.card-text <i class="fa fa-lg fa-fw fa-clock-o"></i> #{game.time}
          p.card-text <i class="fa fa-lg fa-fw fa-money"></i> $#{game.cost}
          p.card-text <i class="fa fa-lg fa-fw fa-futbol-o"></i> #{game.creator.name} lleva el balón
            -var btnHref = "/game/join/" + game._id
            -var detailsHref = "/jugar-futbol/" + game.place.city + "/" + game._id
            -var players = game.players - game.futbolers.length
          p.card-text: small.text-muted Faltan #{players} jugadores
    .col-md-4
      .field
        for futboler in game.futbolers
          .avatar
            img.img-circle(src="/avatars/#{futboler.avatar}")
    .col-md-4
      .row
        .col-md-12.m-b
          h4 Comentarios
      .row
        .col-md-12
          .form-group
            textarea#commentBody.form-control(placeholder="Comentario..." rows="3")
        .col-md-12.m-t-sm
          button#submit.btn.btn-primary-outline.pull-right Comentar
          input.btn.btn-default-outline.pull-right.m-x(type="reset" value="Cancelar")
      .row.m-t
        .col-md-12
          for comment in game.comments
            .media
              a.media-left(href="#")
                img.media-object.img-circle(src="/avatars/#{comment.user.avatar}" alt="" width="64px" height="64px")
              .media-body
                h4.media-heading #{comment.user.name}
                p #{comment.body}
  script.
    (function(){
      $("#submit").click(function(){
        if($("#commentBody").val() !== ""){
        $.post(
          '/comments/#{game._id}',
          {
            body: $("#commentBody").val()
          },
          function(data){ document.location.reload(true); },
          'json'
        );
        } else {
          alert("Debes añadir texto a tu comentario");
        }
      });
    })()
