extends layout
block video
  style.
    .col-md-4 > img { max-width:100%; }

    #hero-video {
      height: 80vh;
      position: relative;
      padding-top: 3rem;
      overflow: hidden;
    }

    #hero-video > .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      z-index: -99;
      transform: translateX(-50%) translateY(-50%);
      background-color: rgba(0, 0, 0, 0.6);
      background-size: cover;
      background-position: center;
      transition: 1s opacity;
    }

    #hero-video > video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100vh;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url(../img/Futbole-Jugar-futbol-Pachuca-icono.png) no-repeat;
      background-size: contain;
      background-position: center center;
      transition: 1s opacity;
    }

    .hero-title {
      color: whitesmoke;
      font-size: 4.209rem;
      line-height: 5rem;
      font-weight: 600;
    }

    .support {
      color: whitesmoke;
      font-size: 1.777rem;
      line-height: 2.5rem;
      font-style: italic;
    }
  #hero-video.text-center.hidden-md-down
    .center-block
      h1.hero-title Futbole.mx
      p.support Juega futbol en pachuca.
      p: a(href="/signup").btn.btn-success Quiero empezar a jugar
    video.hidden-sm(autoplay loop)
      source(src="video/video_futbole.mp4" type="video/mp4")
    .overlay
block content
  .row(style="margin-top:-64px")
    .container.text-center.p-t-lg
      h2 ¿Cómo funciona?
      p.lead Sigue estos sencillos pasos y sé un Futboler
      .row
        .col-md-4
          img(src="img/Futbole-Resgitro2.png", alt="")
        .col-md-4
          img(src="img/Futbole-partidos-1.png", alt="")
        .col-md-4
          img(src="img/Futbole-disfruta-el-futbol1.png", alt="")
  include next-games
