doctype html
html(lang="es")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Futbole - Juega futbol en Pachuca
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    script(src="/js/jquery-2.1.4.min.js")
    script(src="/js/bootstrap.min.js")
  body
    style.
      .container {
        max-width: 56.25em;
      }
      .field {
        margin: 0 auto;
        width: 200px;
        height: 300px;
        background-image: url('/img/cancha.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .field > .avatar {
        float: left;
      }
      .avatar:first-child, .avatar:last-child {
        width:100%;
      }
      .field img {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
      }
    include navbar
    block video
    .container(style="padding-top: 64px")
      block content
      include footer
