extends ./layout.jade
block content
  style.
      #tab-nav {
        padding: 0;
      }
      #login, #signup {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 1rem;
      }
  include terms-modal
  .row.m-y-md
    .col-md-8.col-md-offset-2
      img(src="img/Futbole-Jugar-futbol-Pachuca-logo.png" alt="Futbole-Jugar-futbol-Pachuca-logo" style="max-width:100%")
  .row
    .col-md-6.col-md-offset-3#tab-nav
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link(href="#login" data-toggle="tab") Iniciar sesión
        li.nav-item
          a.nav-link(href="#signup" data-toggle="tab") Registarse
  .row.tab-content
    .col-md-6.col-md-offset-3.tab-pane.fade.in#login
      form(action="/login" method="post")
        .form-group
          input.form-control(type='email', placeholder='email' name="email")
        .form-group
          input.form-control(type='password', placeholder='password' name="password")
        button.btn.btn-success(type="submit") Entrar
      hr
      .row
        .col-md-12.text-center
          a(href="/auth/facebook") Ingresa con Facebook
      if message.length > 0
        .row
          .col-md-12.text-center
            .alert.alert-warning.alert-dismissible.fade.in(role="alert")
              button(type="button" class="close" data-dismiss="alert")
                span &times;
              strong #{message}
    .col-md-6.col-md-offset-3.tab-pane.fade#signup
      form(action="/signup" method="post")
        .form-group
          input.form-control.form-control-sm(type='text', placeholder='Nombre' name="name" required)
        .form-group
          input.form-control.form-control-sm(type='email', placeholder='email' name="email" required)
        .form-group
          input.form-control.form-control-sm(type='password', placeholder='password' name="password" required)
        .btn-group(data-toggle="buttons")
          label.btn.btn-primary(for="option1")
            input#option1(type="radio" name="position" value="Portero" autocomplete="off")
            |Portero
          label.btn.btn-primary(for="option2")
            input#option2(type="radio" name="position" value="Defensa" autocomplete="off")
            |Defensa
          label.btn.btn-primary(for="option3")
            input#option3(type="radio" name="position" value="Medio" autocomplete="off" checked)
            |Medio
          label.btn.btn-primary(for="option4")
            input#option4(type="radio" name="position" value="Killer" autocomplete="off")
            |Killer
        label
          input(type="checkbox" name="terms" checked required)
          |Acepto los
          a(href="#" data-toggle="modal" data-target="#termsModal") Términos y condiciones
        button.btn.btn-success(type="submit") Registrar
      hr
      .row
        .col-md-12.text-center
          a(href="/auth/facebook") Registrate con Facebook
      if message.length > 0
        .row
          .col-md-12.text-center
            .alert.alert-warning.alert-dismissible.fade.in(role="alert")
              button(type="button" class="close" data-dismiss="alert")
                span &times;
              strong #{message}
  include next-games
  script.
    $(function () {
      if (window.location.pathname == "/login")
        $('#tab-nav a:first').tab('show');
      else
        $('#tab-nav a:last').tab('show');
    });
