block navbar
  nav.navbar.navbar-light.bg-faded.navbar-fixed-top.row
    button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#collapser")
      |&#9776;
    .container.collapse.navbar-toggleable-xs#collapser
      a.navbar-brand(href="/")
        img(src="/img/Futbole-Jugar-futbol-Pachuca-logo.png" alt="" style="max-height:30px")
      ul.nav.navbar-nav.pull-right
        li.nav-item
          a(href="http://blog.futbole.mx" target="_blank").nav-link Blog
        if typeof(user) == "undefined"
          li.nav-item
            a(href="/login").nav-link Iniciar sesión
          li.nav-item
            a(href="/signup").btn.btn-success Registrarse
        else
          .btn-group.nav-item
            -var username = user.name || user.local.email;
            a(type="button" data-toggle="dropdown" style="cursor: pointer").nav-link.dropdown-toggle #{username}
            .dropdown-menu
              a.dropdown-item(href="/profile") Perfil
              a.dropdown-item(href="/explore") Buscar retas
              if user.canPost
                a.dropdown-item(href="/games/new") Nuevo Juego
                a.dropdown-item(href="/users") Lista de usuarios
              a.dropdown-item(href="/logout") Cerrar sesión
