extends layout
block content
  .row.m-y-md
    h2.text-center Nuevo juego
  .row
    .col-md-6.col-md-offset-3
      form(action="/games/new" method="POST")
        fieldset.form-group.row
          label.col-md-4.form-control-label(for="cost") Costo:
          .col-md-8
            input#type.form-control(name="cost" type="number" min="0" placeholder="$")
        fieldset.form-group.row
          label.col-md-4.form-control-label(for="players") Número de jugadores:
          .col-md-8
            input#players.form-control(type="number" placeholder="#" name="players" min="4" max="22")
        fieldset.form-group.row
          label.col-md-4.form-control-label(for="date") Día del partido:
          .col-md-8
            input#date.form-control(type="date" placeholder="Día del partido" name="date")
        fieldset.form-group.row
          label.col-md-4.form-control-label(for="time") Hora del partido:
          .col-md-8
            input#time.form-control(type="time" placeholder="Hora del partido" name="time")
        fieldset.form-group.row
          label.col-md-4.form-control-label(for="place") Lugar del partido:
          .col-md-8
            select#place.form-control(name="place")
              for f in fields
                option(value="#{f._id}") #{f.name} - #{f.city}
        button.btn.btn-success(type="submit") Crear
