if games.length > 0
  .row.m-y-lg
    h2.text-center.m-b-md Próximas retas
    .col-md-12
      .row
        for game in games
          .col-md-4
            .card(style="line-height:1")
              .card-header
                h3.card-title(style="margin-bottom:0") #{game.place.type}
              .card-block
                p.card-text <i class="fa fa-lg fa-fw fa-columns"></i> #{game.place.name}
                p.card-text <i class="fa fa-lg fa-fw fa-map-marker"></i> #{game.place.address} -
                  a(href="#{game.place.link}" target="_blank") ¿Cómo llegar?
                p.card-text <i class="fa fa-lg fa-fw fa-calendar-check-o"></i> #{game.date}
                p.card-text <i class="fa fa-lg fa-fw fa-clock-o"></i> #{game.time}
                p.card-text <i class="fa fa-lg fa-fw fa-money"></i> $#{game.cost}
                p.card-text <i class="fa fa-lg fa-fw fa-futbol-o"></i> #{game.creator.name} lleva el balón
                  -var btnHref = "/game/join/" + game._id
                  -var detailsHref = "/jugar-futbol/" + game.place.city + "/" + game._id
                  -var players = game.players - game.futbolers.length
              .card-block
                .field
                  for futboler in game.futbolers
                    .avatar
                      img.img-circle(src="/avatars/#{futboler.avatar}")
              .card-block
                p.card-text: small.text-muted Faltan #{players} jugadores
                a.card-link(href="#{detailsHref}") Ver detalles
                a.card-link(href="#{btnHref}") Apuntarse
