extends layout
block content
  .row.m-y
    .col-md-12
      ul.nav.nav-pills.pull-right
        li.nav-item
          a(href="#last-games" data-toggle="tab" role="tab").nav-link.active Próximos juegos
        li.nav-item
          a(href="#stats" data-toggle="tab" role="tab").nav-link Estadísticas
        li.nav-item
          a(href="/explore").nav-link Buscar retas
        li.nav-item
          a(href="/profile/edit").nav-link Editar perfil
  .row
    .col-md-4
      .card
        .card-block
          h6.card-subtitle Ficha de jugador
        .card-block
          img.img-circle(src="/avatars/#{user.avatar}" alt="" style="width: 200px; height:200px")
        .card-block
          h4.card-title #{user.name}
          p.card-text #{user.position}
    .col-md-8.tab-content
      .tab-pane.active(id="last-games" role="tabpanel")
        if user.games.length > 0
          .list-group
          for game in user.games
            a.list-group-item(href="/jugar-futbol/#{game.info.place.city}/#{game.info._id}")
              h4.list-group-item-heading #{game.info.place.type}
              p.list-group-item-text #{game.info.date} a las #{game.info.time}
              p.list-group-item-text: small #{game.info.place.name} en #{game.info.place.city}
        else
          h6 No tienes juegos registrados aún, comienza a jugar ahora.
          a(href="/explore") Buscar partidos
      .tab-pane(id="stats" role="tabpanel")
        |User stats
  include next-games
