.modal.fade#termsModal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button(type="button" data-dismiss="modal").close
          span &times;
        h4.modal-title Política de Privacidad
      .modal-body
        p Gracias por usar Futbole.mx Esta política explica el qué, cómo y por qué de la información que recopilamos cuando usted utiliza Futbole.mx. También explica las formas específicas en que utilizamos y divulgamos esa información. Nunca vendemos listas o direcciones de correo electrónico.

        p LO BASICO

        p 1. Definiciones

        p Vamos a empezar por conseguir algunas definiciones del camino que debe ayudar a entender esta política. Cuando decimos "nosotros", "nos" y "Futbole," nos referimos a Futbole.mx, radicado en el Estado de Hidalgo. Cuando decimos "usted" o " miembros, "nos estamos refiriendo a la persona o entidad que ha registrado con nosotros para utilizar los Servicios de Futbole.mx.

        p Nuestra plataforma en línea Futbole.mx que usted puede utilizar, y nosotros podemos recopilar información personal, lo que significa información sobre un miembro. Una "lista de distribución" es una lista de direcciones de correo electrónico que uno de nuestros miembros ha enviado, o tiene la intención de enviar, mensajes de correo electrónico a, y toda la información relativa a estas direcciones de correo electrónico.

        p 2. Cambios

        p Si hay algún cambio en esta política de privacidad, publicaremos en el Sitio Web de Futbole.mx y la enviaremos a la última dirección de correo electrónico que nos proporcionaste. Los cambios serán efectivos a partir de la fecha en que publiquemos en el Sitio Web Futbole.mx o enviar el correo electrónico (o si esta fecha es posterior). Es posible que se opone a cualquier cambio dentro de los 20 días después de ser publicados en nuestro sitio web o entregados a usted, en cuyo caso, ninguno de los cambios propuestos será eficaz con respecto a la información que ya hemos recogido de usted, pero sólo se aplicará a la información que recopilamos en el futuro. No vamos a tratar la información de cualquier cuenta abierta a diferencia de cualquier otra cuenta abierta. Si usted se opone a los cambios en nuestra política de privacidad, cancelaremos su cuenta. Dicho esto, si alguna vez nos cambiamos nuestra Política de Privacidad para ampliar nuestros derechos para utilizar o divulgar información personal para fines de marketing, usted sería capaz de optar por su terminación.

        p 3. Fecha de vigencia

        p Esta Política de Privacidad es efectiva con respecto a los datos que hemos recogido, o cobrar, sobre y / o de usted, de acuerdo a las condiciones de uso.

        p 4. Preguntas

        p Si usted tiene alguna pregunta o comentario, o si desea actualizar, eliminar o cambiar cualquier información personal que haya enviado en el Sitio Web Futbole.mx, por favor, utilice nuestro formulario de contacto para ponerse en contacto.

        p TU INFORMACIÓN

        p 5. La información que recopilamos

        p Información que usted nos proporciona: Cuando usted se registra para utilizar los Servicios de Futbole.mx, comunicarse con nuestro equipo de servicio al cliente, envíenos un correo electrónico, o publicar en nuestro blog, usted nos está dando información que recopilamos. Esa información puede incluir su dirección IP, nombre, dirección física, dirección de correo electrónico, número de teléfono, información de tarjeta de crédito y otros detalles como el sexo, ocupación, y otra información demográfica. Al darnos esta información, usted da su consentimiento para que su información sea recopilada, utilizada, divulgada, y almacenados por nosotros, sólo como se describe en nuestros Términos de Uso y Política de Privacidad.
        p Usted quedara agregado a una lista de correo y podrá recibir información periódica acerca de los servicios de Futbole.mx.
        p Información de su uso del Servicio: Podemos obtener información acerca de cómo y cuando utiliza los Servicios. Esta información puede incluir su dirección IP, la hora, la fecha, el navegador utilizado, y las medidas adoptadas por usted dentro de la aplicación.
        p Cookies: Cuando usted se registra para utilizar Futbole.mx, almacenamos las "cookies", que son cadenas de código, en el equipo. Utilizamos los cookies para recopilar información acerca de cuando usted visita nuestro Sitio Web, al utilizar los Servicios, el tipo de navegador y versión, sistema operativo, y otra información similar. Usted puede desactivar las cookies que han sido ubicados en su ordenador siguiendo las instrucciones de su navegador, pero si bloquea nuestras cookies, puede ser más difícil (y tal vez incluso imposible) a utilizar los Servicios de Futbole.mx. Cuando usted juega uno de los videos en los sitios web, el reproductor de Flash puede utilizar objetos compartidos locales, que también se llaman cookies de Flash. No utilizamos estas cookies de Flash para cualquier cosa, pero no podemos dejar que el jugador soltándolos (probamos).
        p Web Beacons: Cuando enviamos correos electrónicos a los clientes Futbole.mx registrados, vamos a veces un seguimiento que abrió los mensajes de correo electrónico y que hace clic en los enlaces. Lo hacemos para medir el desempeño nuestras campañas de correo electrónico 'y para mejorar nuestras características para segmentos específicos de clientes. Para ello, incluimos gifs píxeles individuales, también llamados contadores de visitantes, en los correos electrónicos que enviamos. Web beacons nos permiten recopilar información acerca de cuándo se abre el correo electrónico, su dirección IP, el tipo de navegador o cliente de correo electrónico y otros detalles similares. También se incluyen los contadores de visitantes en los correos electrónicos que ofrecemos para usted. Utilizamos los datos de los contadores de visitantes para crear los informes que se ven sobre quién tiene o no ha abierto los correos electrónicos o enlaces hecho clic. Los informes también están disponibles para nosotros cuando le enviamos el correo electrónico, por lo que pueden recopilar y revisar esa información.
        p Información de otras fuentes: Podemos obtener más información acerca de usted, como nombre, edad, y su participación en sitios web de medios sociales, buscando en el Internet o la consulta de terceros (nos referiremos a esa información como Información del Miembro suplementario). Sólo recogemos los datos que está disponible públicamente o proporcionados por un tercero de acuerdo con sus condiciones de uso.
        p Galletas

        p Herramientas de gestión de cookies de su navegador no eliminarán las cookies de Flash, pero aquí está la forma de gestionar la configuración de privacidad para ellos.

        p Información del Miembro Suplementario

        p Utilizamos esta "Información del Miembro suplementario" para desarrollar características como perfiles sociales, una herramienta que te ayuda a aprender acerca de sus suscriptores y los envía contenido más relevante.

        p 6. Uso y divulgación de su información personal

        p Podemos utilizar y divulgar su información personal solamente de la siguiente manera:

        p Para promover el uso de nuestros Servicios Futbole.mx. Por ejemplo, si deja su información personal cuando usted visita nuestro sitio web y no se inscribe para cualquiera de los Servicios, podemos enviarle un correo electrónico preguntando si desea inscribirse. Y si utiliza cualquiera de nuestros servicios, y cree que puede beneficiarse del uso de otro servicio que ofrecemos, podemos enviarle un correo electrónico informándole de ello.
        p Para facturar y cobrar el dinero adeudado a nosotros. Esto incluye el envío de correos electrónicos que, facturas, recibos, notificaciones de morosidad, y alertando que si necesitamos un número de tarjeta de crédito diferente. Utilizamos terceros para la tarjeta de crédito de procesamiento de transacciones seguras, y nosotros enviaremos la información de facturación a los terceros para procesar sus pedidos y pagos con tarjeta de crédito. Para obtener más información sobre las medidas que tomamos para proteger esos datos, véase la sección 7 a continuación.
        p Para enviarle Alertas Sistema de Mensajes. Por ejemplo, podemos hacerle saber acerca de los cambios temporales o permanentes a nuestros Servicios Futbole.mx, cortes como planificadas, nuevas características, actualizaciones de versión, comunicados, avisos de abuso, y los cambios en nuestra Política de Privacidad.
        p Para garantizar el cumplimiento de las condiciones de uso y la ley aplicable. Esto puede incluir el desarrollo de herramientas y algoritmos que ayudan a prevenir violaciónes.

        p Para la atención al cliente.
        p Para proteger los derechos y la seguridad de nuestros miembros y terceros, así como la nuestra.
        p Para cumplir con los requisitos legales, como el cumplimiento de las órdenes judiciales y citaciones válidos.
        p Proporcionar información a los representantes y asesores, como abogados y contadores, para ayudar a cumplir con los requisitos legales, contables o de seguridad.
        p Para perseguir y defender a un tribunal, el arbitraje o procedimiento similar.
        p Para apoyar y mejorar los servicios que ofrecemos. Esto incluye la adición de características que comparan campañas de correo electrónico de los diputados, o el uso de los datos para sugerir otros editores que sus suscriptores pueden interesar.
        p Para comunicarse con usted acerca de su cuenta por razones de información, no de promoción,.
        p Para transferir su información en el caso de una venta, fusión, consolidación o adquisición. En ese caso, cualquier adquirente estará sujeto a nuestras obligaciones en virtud de esta Política de Privacidad, incluyendo sus derechos de acceso y elección. Le avisaremos del cambio, ya sea mediante el envío de un correo electrónico o publicando un aviso en nuestro sitio Web.
        p Para enviarle contenido informativo y promocional que puede elegir (o "opt in") para recibir. Usted puede dejar de recibir nuestros correos electrónicos promocionales siguiendo las instrucciones para cancelar la suscripción incluidas en cada correo electrónico.
        p Herramientas y Algoritmos

        p Enlaces Darse de baja

        p ¡Es la ley! Enlaces Darse de baja son requeridos por la ley CAN-SPAM. Además, por lo que es fácil para la gente a optar por es la cosa agradable de hacer.

        p 7. Información Pública y Terceros

        p Blog. Tenemos blogs públicos en nuestros sitios web. Cualquier información que usted incluya en un comentario en nuestro blog puede ser leída, recopilada y utilizada por cualquier persona. Si su información personal aparece en nuestros blogs y que le gustaría que sea retirada, póngase en contacto con nosotros aquí. Si no somos capaces de eliminar su información, le haremos saber por qué.
        p Reproductores de medios sociales. Nuestros sitios web incluyen funciones de medios sociales, como el botón de Facebook Like. Estas características pueden recopilar información acerca de su dirección IP y la página que estás visitando en nuestro sitio, y pueden establecer una cookie para asegurarse de que las funciones de la característica correctamente. Funciones de medios sociales y widgets son bien acogidos por un tercero o alojados directamente en nuestro sitio. Sus interacciones con esas características se rigen por las políticas de privacidad de las empresas que los prestan.
        p Enlaces a sitios de terceros. Nuestros sitios web incluyen enlaces a otros sitios web, cuyas prácticas de privacidad pueden ser diferentes de Futbole de. Si envía información personal a cualquiera de estos sitios, su información se rige por sus políticas de privacidad. Le recomendamos que lea atentamente la política de privacidad de cualquier sitio web que visite.
        p Proveedores de servicio. Si es necesario para proporcionarle un servicio que ha solicitado, como le enviará una camiseta o activar una función como perfiles sociales, entonces podemos proporcionar su información personal a un proveedor de servicios. Vamos a restringir el uso de cualquier proveedor de servicios de su información personal. Le informaremos cuando sea razonablemente posible y usted puede solicitar en cualquier momento el nombre de nuestros proveedores de servicios.

        p 8. Contenido de las campañas de correo electrónico

        p Confidencialidad

        p Nuestra regla de oro es "Nunca enviar cualquier cosa en un correo electrónico que no pondría en una postal".

        p SEGURIDAD

        p 9. Notificación de Incumplimiento de Seguridad

        p Nadie está a salvo de los piratas informáticos. Si un fallo de seguridad hace que una intrusión no autorizada en nuestro sistema que usted o las personas afecta materialmente en la base de datos, entonces Futbole.mx le notificará tan pronto como sea posible y luego informar de la acción que tomamos en respuesta.

        p 10. La protección de su información

        p Cuentas Futbole requieren un nombre de usuario y contraseña para iniciar sesión. Debe mantener su nombre de usuario y una contraseña segura, y nunca revelarla a un tercero. Debido a que la información de su perfil es tan sensible, contraseñas de cuentas son encriptados, lo que significa que no podemos ver sus contraseñas. No podemos volver a enviar las contraseñas olvidadas tampoco. Sólo vamos a reponerlos.

        p CONFORMIDAD

        p 11. La exactitud de los datos, la transparencia, y la elección

        p Hacemos nuestro mejor esfuerzo para mantener sus datos precisos y actualizada, en la medida que usted nos proporciona la información que necesitamos para hacer eso. Si sus cambios de datos (como una nueva dirección de correo electrónico), a continuación, usted es responsable de avisarnos de esos cambios.

        p Nosotros sólo almacenamos datos sobre usted durante el tiempo que está razonablemente necesario para cumplir los objetivos que nos dio el derecho de acceder a él en el primer lugar. Mantenemos algunos datos indefinidamente, relativa a cuándo y dónde fueron enviados los correos electrónicos, que rebotó, lo que resultó en una queja, e información similar, porque la usamos para ayudarnos a detectar a las personas que violan las leyes de SPAM, y por otras razones se explican en este política.

        p Nos damos el acceso a cualquier información personal sobre usted que tenemos dentro de los 30 días de cualquier solicitud de información que usted hace poniéndose en contacto con nosotros aquí. A menos que sea prohibido por la ley, vamos a eliminar cualquier información personal sobre usted de nuestros servidores a su petición.


        p Actualizado 09 de Noviembre 2015
      .modal-footer
        button(type="button" data-dismiss="modal").btn.btn-secondary Close