extends layout
block content
  .row.m-t-md
    .col-md-12.m-b
      h2.text-center Lista de usuarios registrados
    .col-md-8.col-md-offset-2
      table.table.table-hover.table-sm
        thead.thead-inverse
          tr
            th Usuario
            th Email
            th Posición
        tbody
          for u in users
            tr
              td #{u.name}
              td #{u.local.email}
              td #{u.position}
